.git
.gitignore
.env
.env.backup
.env.production
node_modules
npm-debug.log
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
vendor
.DS_Store
*.md
docker-compose.yml
docker-compose.override.yml
.dockerignore
Dockerfile
README.md
DEPLOYMENT_INSTRUCTIONS.md
NHAT_KY_THUC_TAP.md

